.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caracteristicas {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caracteristicas__item {
  width: 30px;
}

.caracteristicas__img {
  cursor: pointer;
  display: block;
}

#hotel_map {
  height: 400px;
  width: 100%;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
