<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{aviso.tipoOperacion.descripcion}} - {{aviso.descripcion}}</mat-card-title>
    <mat-card-subtitle>{{aviso.valor}}</mat-card-subtitle>
  </mat-card-header>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of aviso.inmueble.imagen">
      <div class="wrapper">
        <img mat-card-image [src]="getImagenesAvisos(image.bytes, image.mimetype)" [alt]="image.descripcion">
      </div>
      <div class="carousel-caption">
        <h3>{{ image.descripcion }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          {{aviso.inmueble.calle}} {{aviso.inmueble.numero}} {{aviso.inmueble.localidad.descripcion}} {{aviso.inmueble.localidad.provincia.descripcion}}
        </p>
      </mat-panel-title>
      </mat-expansion-panel-header>
        <div style="margin:20px auto; width:100%; height: 100%;">
          <ol-map
          [lat]= aviso.inmueble.latitud
          [lon]= aviso.inmueble.longitud
          [zoom]=17
          width="100%"
          height="500px"
          >
            <ol-map-marker
              [lat]= aviso.inmueble.latitud
              [lon]= aviso.inmueble.longitud
            >
            </ol-map-marker>
          </ol-map>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <p>
      <span>Publicado el {{aviso.fechaInicio | date}}</span>
    </p>
    <div class="switches">
      <div class="caracteristicas" *ngFor="let ic of aviso.inmueble.inmuebleTipoCaracteristica">
        <div class="caracteristicas__item">
          <mat-icon class="caracteristicas__img" matBadgeColor="warn" matTooltip={{ic.tipoCaracteristica.descripcion}}>{{ic.tipoCaracteristica.icono}}</mat-icon>
          <mat-label>{{ic.cantidad}}</mat-label>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="consultaAviso()">
        <mat-icon>
          <span class="material-symbols-outlined">
            chat
          </span>
        </mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="volver()" [routerLink]="['./']">
        <mat-icon>
          <span class="material-symbols-outlined">
            undo
          </span></mat-icon>
      </button>
  </mat-card-actions>
</mat-card>

<!-- <app-aviso [aviso]="avisos[0]"></app-aviso> -->
