<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{aviso.tipoOperacion.descripcion}} - {{aviso.descripcion}}</mat-card-title>
    <mat-card-subtitle>{{aviso.valor}}</mat-card-subtitle>
  </mat-card-header>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of aviso.inmueble.imagen">
      <div class="wrapper">
        <img mat-card-image [src]="getImagenesAvisos(image.bytes, image.mimetype)" [alt]="image.descripcion">
      </div>
      <div class="carousel-caption">
        <h3>{{ image.descripcion }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <mat-card-content>
    <p>
      {{aviso.inmueble.calle}} {{aviso.inmueble.numero}} {{aviso.inmueble.localidad.descripcion}} {{aviso.inmueble.localidad.provincia.descripcion}}
    </p>
    <div class="switches">
      <div class="caracteristicas" *ngFor="let ic of aviso.inmueble.inmuebleTipoCaracteristica">
        <div class="caracteristicas__item">
          <mat-icon class="caracteristicas__img" matBadgeColor="warn" matTooltip={{ic.tipoCaracteristica.descripcion}}>{{ic.tipoCaracteristica.icono}}</mat-icon>
          <mat-label>{{ic.cantidad}}</mat-label>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="(esDetalle)">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>chat</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

